<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../fragments/standardHead.ejs") %>
    <title>Produs</title>
</head>
<body>
    <%- include("../fragments/header.ejs") %>

    <div style="margin-left: 500px; margin-right: auto">
        <% for(var i = 0; i < locals.produse.length; i+=3){
            var produs1 = locals.produse[i]
            var data1 = new Date(produs1.data_valabilitate)
             
            // if(produs1.categorie == "Premium"){
            //     document.getElementById('card1').className += 'gold';
            // }
            %>
            <div style="text-decoration: none; font-size: 18px; width: 50%; text-align: center;" class="col-sm template_container m-3 <%- produs1.categorie == "Premium" ? "premium" : ''%> 
                                                          <%- produs1.pachet == "Bronz" ? "bronz" : ''%> 
                                                          <%- produs1.pachet == "Cupru" ? "cupru" : ''%> 
                                                          <%- produs1.pachet == "Argint" ? "argint" : ''%> 
                                                          <%- produs1.pachet == "Aur" ? "aur" : ''%> 
                                                          <%- produs1.pachet == "Platina" ? "platina" : ''%>"> 
                    <h3 class="text-center"><%- produs1.nume %> </h3>
                    <hr>
                    <div class="row">
                        <div class="col-sm">
                            <p>Categorie: <%- produs1.categorie%></p>
                            <p>**IMAGINE**</p>
                        </div>
                        <div class="col-sm">
                            <p class="">In stoc: <%- String(produs1.in_stoc).toUpperCase() %> </p>
                            
                            <time>Valabil pana la: <%- data1.getDate()  + "-" + data1.getMonth() + "-" + data1.getFullYear() %> </time>
                            <p>Pret: <%- produs1.pret%> $</p>
                            <p>Pachet: <%- produs1.pachet%></p>
                            <p>Conceput pentru: <%- produs1.conceput_pentru%></p>
                        </div>
                        <hr>
                        <p>Descriere: <%- produs1.descriere%> </p>
                        
                    </div>
                    
                </div>
        <% } %>
    </div>

    <%- include("../fragments/footer.ejs") %>
    <script src="/src/scripts/filter.js"></script>
</body>
</html>