<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../fragments/standardHead.ejs") %>
    <title>Produse</title>
</head>
<body>
    <%- include("../fragments/header.ejs") %>

    <div class="containerProduse">

        <div id = "pret">
            Pret
            <input type="range" name="pret" id="pretMin" max="2000" min="0" value="0">
            <div style="flex-direction: row;"><span id="valueMin"></span> - <span id="valueMax"></span></div>
            <input type="range" name="pret" id="pretMax" max="2000" min="0" value="2000">
        </div>

        <div id="radio">
            <input type="radio" id="student" name="mainCategory" value="student">Studenti<br>
            <input type="radio" id="firma" name="mainCategory" value="firma">Firme<br>
            <input type="radio" id="angajat" name="mainCategory" value="angajat">Angajati<br>
            <input type="radio" id="all" name="mainCategory" value="all">Toate
        </div>

        <div id="checkBoxes">

            <span><input type="checkbox" name="stoc" id="stoc">In Stoc</span>
            <input type="radio" id="premium" name="main" value="Premium">Categorie Premium<br>
            <input type="radio" id="standard" name="main" value="Standard">Categorie Standard<br>
            <!-- <span><input type="checkbox" name="premium" id="premium">Categorie Premium</span>
            <span><input type="checkbox" name="standard" id="standard"> Categorie Standard</span> -->


        </div>

        <div class="buttons">
            <a class="sortBtn" id="filter" onclick="filtreaza()">Filtreaza</a>
            <div class="sortBtn" id="aSort">Sortare ascendenta</div>
            <div class="sortBtn" id="dSort">Sortare descendenta</div>
            <div class="sortBtn" id="calcBtn">Calculare</div>
            <div class="resetBtn" id="reset">Reset</div>
        </div>

    </div>

    <div id="produsee">
        <% for(var i = 0; i < 20; i+=3){
            // console.log({VERIFICARE: locals.produse})
            var produs1 = locals.produse[i]
            var produs2 = locals.produse[i + 1]
            var produs3 = locals.produse[i + 2]
            
            var data1
            var data2
            var data3
            if(produs1 !== undefined){
                data1 = new Date(produs1.data_valabilitate)
            }
            if(produs2 !== undefined){
                data2 = new Date(produs2.data_valabilitate)
            }
            if(produs1 !== undefined){
                data3 = new Date(produs3.data_valabilitate)
            }
            %>
            <div class="container row" style="margin-left: auto; margin-right: auto">
                <% if(produs1 !== undefined){ %>
                <a href="/produs/<%- produs1.id %> " class="col-sm template_container m-3 <%- produs1.categorie == "Premium" ? "premium" : ''%> 
                                                          <%- produs1.pachet == "Bronz" ? "bronz" : ''%> 
                                                          <%- produs1.pachet == "Cupru" ? "cupru" : ''%> 
                                                          <%- produs1.pachet == "Argint" ? "argint" : ''%> 
                                                          <%- produs1.pachet == "Aur" ? "aur" : ''%> 
                                                          <%- produs1.pachet == "Platina" ? "platina" : ''%>"> 
                    <p class="text-center"><%- produs1.nume %> </p>
                    <p class="">In stoc: <%- String(produs1.in_stoc).toUpperCase() %> </p>
                    <p>Descriere: <%- produs1.descriere%> </p>
                    <p>Valabil pana la: <%- data1.getDate()  + "-" + data1.getMonth() + "-" + data1.getFullYear() %> </p>
                    <p>Pret: <%- produs1.pret%> $</p>
                    <p>Pachet: <%- produs1.pachet%></p>
                    <p>Conceput pentru: <%- produs1.conceput_pentru%></p>
                </a><% } %>
                <% if(produs2 !== undefined){ %>
                <a href="/produs/<%- produs2.id %> " class="col-sm template_container m-3 <%- produs2.categorie == "Premium" ? "premium" : ''%> 
                                                          <%- produs2.pachet == "Bronz" ? "bronz" : ''%> 
                                                          <%- produs2.pachet == "Cupru" ? "cupru" : ''%> 
                                                          <%- produs2.pachet == "Argint" ? "argint" : ''%> 
                                                          <%- produs2.pachet == "Aur" ? "aur" : ''%> 
                                                          <%- produs2.pachet == "Platina" ? "platina" : ''%>"> 
                    <p class="text-center"><%- produs2.nume %> </p>
                    <p class="">In stoc: <%- String(produs2.in_stoc).toUpperCase() %> </p>
                    <p>Descriere: <%- produs2.descriere%> </p>
                    <p>Valabil pana la: <%- data2.getDate()  + "-" + data2.getMonth() + "-" + data2.getFullYear() %> </p>
                    <p>Pret: <%- produs2.pret%> $</p>
                    <p>Pachet: <%- produs2.pachet%></p>
                    <p>Conceput pentru: <%- produs2.conceput_pentru%></p>
                </a><% } %>
                <% if(produs3 !== undefined){ %>
                <a href="/produs/<%- produs3.id %> " class="col-sm template_container m-3 <%- produs3.categorie == "Premium" ? "premium" : ''%> 
                                                          <%- produs3.pachet == "Bronz" ? "bronz" : ''%> 
                                                          <%- produs3.pachet == "Cupru" ? "cupru" : ''%> 
                                                          <%- produs3.pachet == "Argint" ? "argint" : ''%> 
                                                          <%- produs3.pachet == "Aur" ? "aur" : ''%> 
                                                          <%- produs3.pachet == "Platina" ? "platina" : ''%>"> 
                    <p class="text-center"><%- produs3.nume %> </p>
                    <p class="">In stoc: <%- String(produs3.in_stoc).toUpperCase() %> </p>
                    <p>Descriere: <%- produs3.descriere%> </p>
                    <p>Valabil pana la: <%- data3.getDate()  + "-" + data3.getMonth() + "-" + data3.getFullYear() %> </p>
                    <p>Pret: <%- produs3.pret%> $</p>
                    <p>Pachet: <%- produs3.pachet%></p>
                    <p>Conceput pentru: <%- produs3.conceput_pentru%></p>
                 </a><% } %>
            </div>
        <% } %>
    </div>

    <%- include("../fragments/footer.ejs") %>
    <script src="/src/scripts/filter.js"></script>
</body>
</html>